<div th:fragment="article(imageUrl, headline, source, summary, url)"
     class="flex flex-col gap-1.5">
    <img th:src="${imageUrl}">
    <p>
        <span class="font-semibold" th:text="${headline}"></span> - <span class="italic" th:text="${source}"></span>
    </p>
    <p th:text="${summary}"></p>
    <a th:href="${url}"
       class="w-full bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-md transition-colors duration-200 shadow-sm hover:shadow-md">
        Read More
    </a>
</div>