<form
        th:fragment="sell-button"
        th:action="@{/stocks/{symbol}/sell(symbol=${company.symbol})}" method="post" class="mt-4 space-y-3"
        xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">Quantity</label>
        <input type="range"
               min="0"
               th:max="${holdingsAmounts.getOrDefault(company.symbol, 0.0)}"
               name="amount"
               step="0.25"
               value="0"
               required
               th:id="|sell-selector-${company.symbol}|"
               orient="horizontal"
               class="w-full py-2 rounded-md accent-green-600">
            <p th:id="|sell-display-${company.symbol}|">
                <strong>0 stocks</strong>
                <span th:text="(${zeroMoney})"></span>
            </p>
        <script th:inline="javascript">
            document.getElementById("sell-selector-" + [[${company.symbol}]])
                .addEventListener("input", (e) => {
                    const formatter = new Intl.NumberFormat(
                        "en-US",
                        { style: "currency", currency: "USD", }
                    );
                    const stockValue = formatter.format(e.currentTarget.value * [[${company.getCurrPrice()}]]);
                    document.getElementById("sell-display-" + [[${company.symbol}]])
                        .innerHTML = `<strong>${e.currentTarget.value} stocks</strong> (${stockValue} est.)`;
                });
        </script>
    </div>

        <button type="submit" th:if="${holdingsAmounts.getOrDefault(company.symbol, 0.0)}"
                class="w-full bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-md transition-colors duration-200 shadow-sm hover:shadow-md">
            Sell Stock
        </button>
    <!--grey out sell button if there is no stock to sell-->
        <button th:unless="${holdingsAmounts.getOrDefault(company.symbol, 0.0)}" disabled
                class="w-full bg-gray-300 text-white font-semibold py-2 px-4 rounded-md shadow-sm">
            Sell Stock
        </button>

</form>
