<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZeroSum - Leaderboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 min-h-screen">
<!-- Include navbar -->
<div th:replace="~{fragments/navbar.html :: navbar}"></div>

<!-- Main Content -->
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg: px-8 py-8">
    <!-- Hero Section -->
    <div class="mb-8">
        <h1 class="text-4xl font-bold text-gray-900 mb-2">Leaderboard</h1>
        <p class="text-gray-600">The biggest losers</p>
    </div>

    <ul th:each="user : ${topUsers}">
        <li><span th:text="${user.username}"></span> - <span th:text="${user.portfolioValue}"></span></li>
    </ul>


</div>
</body>